
@{
    ViewBag.Title = "AllSongs";
}
<link href="~/Content/allUsers.css" rel="stylesheet" />
<h2>Glasba</h2>

<table>
    <tr class="tableHeader">
        <th class="idTh"></th>
        <th class="artistTh">Izvajalec</th>
        <th class="songNameTh">Naslov</th>
        <th class="albumTh">Album</th>
        <th class="yearTh">Leto</th>
        <th class="countryTh">Država</th>
    </tr>
    <tr>
        <td class="id">1</td>
        <td class="artist">JIMI HENDRIX</td>
        <td class="songName">ALL ALONG THE WATCHTOWER</td>
        <td class="album">Electric Ladyland</td>
        <td class="year">1968</td>
        <td class="country">USA</td>
    </tr>
    <tr>
        <td class="id">2</td>
        <td class="artist">JIMI HENDRIX</td>
        <td class="songName">FOXY LADY</td>
        <td class="album">Are You Experienced?</td>
        <td class="year">1967</td>
        <td class="country">USA</td>
    </tr>
    <tr>
        <td class="id">3</td>
        <td class="artist">JIMI HENDRIX</td>
        <td class="songName">MACHINE GUN</td>
        <td class="album">Band Of Gypsys</td>
        <td class="year">1970</td>
        <td class="country">USA</td>
    </tr>
    <tr>
        <td class="id">4</td>
        <td class="artist">BRYAN ADAMS</td>
        <td class="songName">(EVERYTHING I DO) I DO IT FOR YOU</td>
        <td class="album">Waking Up The Neighbors</td>
        <td class="year">1991</td>
        <td class="country">USA</td>
    </tr>

    <tr>
        <td class="id">5</td>
        <td class="artist">METALLICA</td>
        <td class="songName">(ANESTHESIA) PULLING TEETH</td>
        <td class="album">Kill 'Em All</td>
        <td class="year">1983</td>
        <td class="country">USA</td>
    </tr>

</table>

