
@{
    ViewBag.Title = "AllUsers";
}
<link href="~/Content/allUsers.css" rel="stylesheet" />

<h2>Uporabniki</h2>
<table>
    <tr class="tableHeader">
        <th class="idTh"></th>
        <th class="nameTh">Ime</th>
        <th class="surnameTh">Priimek</th>
        <th class="countryTh">Država</th>
    </tr>
    <tr>
        <td class="id">1</td>
        <td class="name">Ewart Eric </td>
        <td class="surname">Todd</td>
        <td class="country">UK</td>
    </tr>
    <tr>
        <td class="id">2</td>
        <td class="name">Billy Christopher</td>
        <td class="surname">Winfield</td>
        <td class="country">UK</td>
    </tr>
    <tr>
        <td class="id">3</td>
        <td class="name">Bailey Forest</td>
        <td class="surname">Ryer</td>
        <td class="country">UK</td>
    </tr>
    <tr>
        <td class="id">4</td>
        <td class="name">Wilbur Zane</td>
        <td class="surname">Dane</td>
        <td class="country">Canada</td>
    </tr>

    <tr>
        <td class="id">5</td>
        <td class="name">Kenneth Lane</td>
        <td class="surname">Sams</td>
        <td class="country">USA</td>
    </tr>

</table>

